Host bastion
    User                   ansible-user
    HostName               172.16.0.250
    ProxyCommand           none
    IdentityFile           /home/tadaam/.ssh/Hosts_tadaam/Ansible/id_ansible_administrator_rsa
    BatchMode              yes
    PasswordAuthentication no
    ForwardAgent           yes
    LogLevel               ERROR

Host tadaam-pprod
    HostName               10.0.255.242
    StrictHostKeyChecking  no
    LogLevel               INFO
    ServerAliveInterval    60
    TCPKeepAlive           yes
    User                   ansible-user
    IdentityFile           /home/tadaam/.ssh/Hosts_tadaam/Ansible/id_ansible_acs-pprod_rsa
    ProxyCommand           ssh -q -A ansible-user@172.16.0.250 nc %h %p
#    ControlMaster          auto
#    ControlPath            ~/.ssh/tmp/mux-%r@%h:%p
#    ControlPersist         8h
